@import '../node_modules/font-awesome/scss/font-awesome.scss';


$background-black: #343a40;
$button-red: #ec7373;
$text-white: #ffffff;

body {
    background-color: $background-black;
    color: $text-white;
    

    main {
        padding: 8px 16px;

        p {
            width: 1500px;
        }

        .help-block {
            font-size: 0.8rem;
            font-style: italic;
        }
    }
}

.card {
    color: $background-black; // temporary
    margin: 40px 20px;
    max-width: 400px;

    .btn {
        background-color: $button-red;
        color: $text-white;
    }
}

.modal {
    color: $background-black;

    .modal-dialog {
        max-width: none;
        margin: auto;
    }

    .btn-primary {
        background-color: $button-red;
        color: $text-white;
    }
}

#datepicker {
    width: 800px;
    margin: 0 50px;
}

label {
    margin: 0px 0px 20px 0px; 
}

footer {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}